dev/f2.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "0 MB",
          "backPressureObjectThreshold" : 0,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "69deb552-9bfe-3c88-bbae-cdf7236184c3",
            "instanceIdentifier" : "f738448c-cd4d-3077-6c1b-e86ad60176c4",
            "name" : "Search Google",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "b7685d24-a906-3e5e-aa77-739a5551c46d",
          "instanceIdentifier" : "57333596-f874-35a8-a326-eaca410f186b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "87aa00af-f58e-324f-ad4e-4abd686b74cb",
            "instanceIdentifier" : "8275db41-03d9-3a3c-05ae-40888591527a",
            "name" : "q=nifi",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "0 MB",
          "backPressureObjectThreshold" : 0,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "81488bed-0966-36a7-8d64-04e8e8ad7304",
            "instanceIdentifier" : "eeecabdb-9198-3d77-004e-cc9c13ec9ab2",
            "name" : "Route On Status Code",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "e2b1a4c0-ecc5-3d16-99d2-ef8e67bc9c93",
          "instanceIdentifier" : "9fbc9cc9-c333-3245-a927-7c2998a2078e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Original" ],
          "source" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "69deb552-9bfe-3c88-bbae-cdf7236184c3",
            "instanceIdentifier" : "f738448c-cd4d-3077-6c1b-e86ad60176c4",
            "name" : "Search Google",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "0 MB",
          "backPressureObjectThreshold" : 0,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "87aa00af-f58e-324f-ad4e-4abd686b74cb",
            "instanceIdentifier" : "8275db41-03d9-3a3c-05ae-40888591527a",
            "name" : "q=nifi",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "7ea84f09-2bdd-31e8-b9c4-1ac66a3ad372",
          "instanceIdentifier" : "ab499aae-554d-3652-5c0e-373cc92f41b0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "054c0cfa-5c3c-312f-8f42-db6ebf6c267d",
            "instanceIdentifier" : "a5126dd1-a15c-3c83-dc0e-04025a4a42e6",
            "name" : "Source",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "1d91c891-5ad2-34a0-bfcc-df4e61ad5995",
            "instanceIdentifier" : "2f5eaa6b-f4f2-3954-616b-d6140157b4b0",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "385f5d36-d29c-34ba-9115-0d096aed00d9",
          "instanceIdentifier" : "7c147a11-c856-346f-ef6b-e7976f7c75c2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "14ec8477-7f7a-39b6-8f5d-d2bd9bd88423",
            "instanceIdentifier" : "ff67015c-e634-3971-2395-a0880ab6a91b",
            "name" : "HashContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "0 MB",
          "backPressureObjectThreshold" : 0,
          "bends" : [ {
            "x" : 1457.647549990741,
            "y" : 364.6302325226266
          }, {
            "x" : 1457.647549990741,
            "y" : 431.6302325226266
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "69deb552-9bfe-3c88-bbae-cdf7236184c3",
            "instanceIdentifier" : "f738448c-cd4d-3077-6c1b-e86ad60176c4",
            "name" : "Search Google",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "38f2a7a9-0542-3933-8c28-0caf43301124",
          "instanceIdentifier" : "9ebc5908-9b58-3a58-4954-5344dd81aa5e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Retry", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "69deb552-9bfe-3c88-bbae-cdf7236184c3",
            "instanceIdentifier" : "f738448c-cd4d-3077-6c1b-e86ad60176c4",
            "name" : "Search Google",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "0 MB",
          "backPressureObjectThreshold" : 0,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "14ec8477-7f7a-39b6-8f5d-d2bd9bd88423",
            "instanceIdentifier" : "ff67015c-e634-3971-2395-a0880ab6a91b",
            "name" : "HashContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "16db62ae-2189-3f63-b1a7-090e5ffe21e2",
          "instanceIdentifier" : "51adfd93-3b0f-3cc4-b0ac-e38bac8e8e3a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "200" ],
          "source" : {
            "comments" : "",
            "groupId" : "9a70b60c-9397-3056-89d0-55d180b943d3",
            "id" : "81488bed-0966-36a7-8d64-04e8e8ad7304",
            "instanceIdentifier" : "eeecabdb-9198-3d77-004e-cc9c13ec9ab2",
            "name" : "Route On Status Code",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
        "inputPorts" : [ ],
        "instanceIdentifier" : "9ac5c378-0185-1000-d897-d7a4c3a35e80",
        "labels" : [ ],
        "name" : "prova2",
        "outputPorts" : [ ],
        "position" : {
          "x" : -16.0,
          "y" : -216.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.19.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "81488bed-0966-36a7-8d64-04e8e8ad7304",
          "instanceIdentifier" : "eeecabdb-9198-3d77-004e-cc9c13ec9ab2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Route On Status Code",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 843.9476822243706,
            "y" : 563.2707031911496
          },
          "properties" : {
            "200" : "${invokehttp.status.code:equals(200)}",
            "Routing Strategy" : "Route to Property name"
          },
          "propertyDescriptors" : {
            "200" : {
              "displayName" : "200",
              "identifiesControllerService" : false,
              "name" : "200",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "Response", "No Retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.19.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "69deb552-9bfe-3c88-bbae-cdf7236184c3",
          "instanceIdentifier" : "f738448c-cd4d-3077-6c1b-e86ad60176c4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Search Google",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 843.9476822243706,
            "y" : 331.2707031911496
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://www.google.com/search?q=${q}&rct=j",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.19.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "14ec8477-7f7a-39b6-8f5d-d2bd9bd88423",
          "instanceIdentifier" : "ff67015c-e634-3971-2395-a0880ab6a91b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "HashContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 843.9476822243706,
            "y" : 811.2707031911496
          },
          "properties" : {
            "Hash Algorithm" : "MD5",
            "Hash Attribute Name" : "hash.value"
          },
          "propertyDescriptors" : {
            "Hash Algorithm" : {
              "displayName" : "Hash Algorithm",
              "identifiesControllerService" : false,
              "name" : "Hash Algorithm",
              "sensitive" : false
            },
            "Hash Attribute Name" : {
              "displayName" : "Hash Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Hash Attribute Name",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HashContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.19.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "1d91c891-5ad2-34a0-bfcc-df4e61ad5995",
          "instanceIdentifier" : "2f5eaa6b-f4f2-3954-616b-d6140157b4b0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 843.9476822243706,
            "y" : 1059.2707031911496
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/MiC/data",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.19.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "87aa00af-f58e-324f-ad4e-4abd686b74cb",
          "instanceIdentifier" : "8275db41-03d9-3a3c-05ae-40888591527a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "q=nifi",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 843.9476822243706,
            "y" : 75.27070319114961
          },
          "properties" : {
            "q" : "nifi",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "q" : {
              "displayName" : "q",
              "identifiesControllerService" : false,
              "name" : "q",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.19.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a70b60c-9397-3056-89d0-55d180b943d3",
          "identifier" : "054c0cfa-5c3c-312f-8f42-db6ebf6c267d",
          "instanceIdentifier" : "a5126dd1-a15c-3c83-dc0e-04025a4a42e6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Source",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 323.9476822243706,
            "y" : 75.27070319114961
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "10 b",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "30 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}